<!DOCTYPE html>
<html>
  <head>
    <title>Igp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', media: :all %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', media: :all%>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: :all %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div id="app">
      <% if logged_in? %>
        <div class="columns" style="margin-top:72px;">
          <% prop = {name:current_user.name, username:current_user.username, user_id:current_user.id}.to_json %>
          <navbar v-once :user="<%= prop %>"></navbar>
          <div class="column is-narrow">
            <sidebar></sidebar>
          </div>
      <% elsif %>
        <div class="columns">
      <% end %>
        <div class="column">
            <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'script_side', 'data-turbolinks-track': 'reload', media: :all %>
  </body>

</html>
