<!DOCTYPE html>
<html>
  <head>
    <title>Igp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', media: :all %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', media: :all%>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: :all %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <% if logged_in? %>
      <% props = {
          user: current_user
        }.to_json
      %>
    <% end %>
    <div id="current-user" data="<%= props %>"></div>
    <div id="app">
      <div class="columns" style="margin-top:72px;">
        <% if logged_in? %>
          <navbar :user="user"></navbar>
          <div class="column is-narrow">
            <sidebar></sidebar>
          </div>
        <% end %>
          <div class="column">
              <%= yield %>
          </div>
      </div>
    </div>
    <%= javascript_pack_tag 'script_side', 'data-turbolinks-track': 'reload', media: :all %>
  </body>

</html>
